/************
** Accueil **
*************/

body {
    background-image: url("../image/background.jpg");
}

header {
    background-color: rgba(255, 255, 255, 0.774);
    width: 60rem;
    height: 16rem;
    margin: auto;
    margin-bottom: 1rem;
}

header h1 {
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(90deg, #FF9200 15%, #00BCD4 50%, #820282 70%);
font-size: 5rem;
font-style: italic;
text-align: center;
}

header p {
    font-size: 3rem;
    text-align: center;
    color: #b11f1f;
}

header p em {
    font-style: italic;
}


.game {
    width: 60rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tigger{
    width: 20rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.play{
    width: 20rem;
    color: #ffffff;
    background-color: #820282;
    border-radius: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.message {
    padding: 1rem;
    border-radius: 3px;
    background-color: rgb(250, 228, 185);
    color:rgb(109, 76, 18);
    margin-bottom: 1rem;
    font-size: 2rem;
  }

/* ************************************************ */


/**********
** Rules **
***********/


.gameContainer {
    width: 60rem;
    height: 40rem;
    border: solid rgb(0, 0, 0);
    border-width: 0.1rem;
    border-radius: 1rem;
    background-color: #fafafa;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divRules {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.divButton {
    display: flex;
    justify-content: center;
}


.nextButton{
    height: 2.5rem;
    width: 9rem;
    color: #ffffff;
    background-color: #820282;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.rulesTigger {
    width: 18rem;
    margin-bottom: 1rem;
    cursor: pointer;
}



/* ************************************************ */


/*******************
** Primary colors **
********************/

.h2PrimaryColor {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1rem;
}

.divReminder {
    display: flex;
    flex-direction: row;
}

.divPrimaryColor {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 5rem;
    margin-left: 2rem;
    justify-content: space-between;
}

.divPrimaryColorText {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 15rem;
    margin-left: 2rem;
    justify-content: space-between;
    font-size: 2rem;
}

.divBlue {
    height: 2.6rem;
    width: 2.6rem;
    background-color: #0400ff;
    border-radius: 50%; 
    border: 0.1rem solid #000;
    cursor: pointer;
}

.divRed {
    height: 2.6rem;
    width: 2.6rem;
    background-color: #ff0000;
    border-radius: 50%; 
    border: 0.1rem solid #000;
    cursor: pointer;
}

.divYellow {
    height: 2.6rem;
    width: 2.6rem;
    background-color: #ffee00;
    border-radius: 50%;
    border: 0.1rem solid #000;
    cursor: pointer;
}


.beginButton {
    height: 2.5rem;
    width: 12rem;
    color: #ffffff;
    background-color: #820282;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}


/* ************************************************ */


/**********
** Game **
***********/

.divColors{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorCircle {
    display: flex;
    flex-direction: row;
    width: 30rem;
    margin-left: 2rem;
    justify-content: space-between;
    font-size: 2rem;
}


.divColorMixte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    margin-top: 3rem;
}

.mixedColors {
    display: flex;
    flex-direction: column;
}

.divFirstColor, 
.divSecondColor {
    height: 5rem;
    width: 10rem;
    border: 0.1rem solid #000;
}

.tiggerImg{
    width: 13rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.shuffleButton {
    height: 2.5rem;
    width: 12rem;
    color: #ffffff;
    background-color: #820282;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0400ff;
}

.yellow {
   background-color: #ffee00; 
}

.selectedColor {
    border: 0.3rem solid #000;
}

/* ************************************************ */


/**********
** Result **
***********/

.purple {
    background-color: #4f0381;
    height: 10rem;
    width: 10rem;
    border: 0.1rem solid #000;
}

.green {
    background-color: #01970e;
    height: 10rem;
    width: 10rem;
    border: 0.1rem solid #000;
}

.orange {
    background-color: #f86402;
    height: 10rem;
    width: 10rem;
    border: 0.1rem solid #000;
}